.modal-backdrop {
  background-color: rgba(0, 0, 0, 0.5) !important;
}

.dataTables_wrapper .dataTables_info {
  line-height: 39px;
  padding-bottom: 0 !important;
}

.fc .fc-col-header-cell-cushion {
  color: #fff;
  display: inline-block;
  padding: 6px 4px !important;
  text-decoration: none;
  font-style: normal;
  text-transform: uppercase;
  font-size: 13px !important;
  font-weight: bold !important;
  border-right-color: #335757 !important;
}

.fc-theme-standard .fc-list-day-cushion {
  padding: 12px 8px !important;
  background-color: #335757 !important;
}

.fc-list-day-text,
.fc-list-day-side-text {
  font-size: 13px;
  color: #fff;
  text-decoration: none;
  font-style: normal;
  text-transform: uppercase;
}

.fc-event-main {
  text-align: center;
  font-style: normal;
}

.fc-list-event-title,
.fc-list-event-time {
  font-style: normal;
}

.fc .fc-daygrid-event {
  white-space: normal;
}

.fc .fc-toolbar.fc-header-toolbar {
  margin-bottom: 1rem;
}

.fc-timegrid-event {
  border-radius: 6px;
  padding: 2px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
  border: none;
}

.tutorial-tooltip {
  animation: fadeIn 0.3s ease-in-out;
}

@keyframes fadeIn {
  from { 
    opacity: 0; transform: scale(0.95); 
  }

  to { 
    opacity: 1; transform: scale(1); 
  }
}

@media (max-width: 991.98px) {
  .salas-grid {
    flex-direction: row !important;
  }

  .salas-grid > .w-100.w-md-50 {
    width: 49% !important;
    max-width: 49%;
  }

  .salas-grid > .calendar-container.w-100.w-md-50 {
    width: 49% !important;
    max-width: 49%;
    margin-top: 0 !important;
  }
}

@media (max-width: 767.98px) {
  .salas-grid {
    flex-direction: column !important;
  }

  .salas-grid > .w-100.w-md-50,
  .salas-grid > .calendar-container.w-100.w-md-50 {
    width: 100% !important;
    max-width: 100%;
  }
  .calendar-container {
    margin-top: 1rem !important;
  }
}

/* BORDAS COLORIDAS */

.border-aquário {
  border-left: 5px solid #C7FBFF !important;
  border-radius: 8px !important;
}

.border-daf {
  border-left: 5px solid #c5f7ce !important;
  border-radius: 8px!important;
}

.border-pres {
  border-left: 5px solid #97A8F7 !important;
  border-radius: 8px !important;
}

.border-audit {
  border-left: 5px solid #F7B1D6 !important;
  border-radius: 8px !important;
}