/* body {
  background-image: url('/bg-white.jpg');
  background-size: cover;
}

.maxw-1000 {
  max-width: 90%;
}

.table.dataTable {
  margin-bottom: 0 !important;
}

.custom__form_create {
  background-color: transparent;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  padding: 20px;
}

.padding__left4 {
  padding-left: 2rem;
}

.card-custom-width {
  width: 65%;
}

.form-wrapper {
  justify-content: center;
  align-items: center;
  padding: 0 10px;
  padding-left: 4rem !important;
}

.dataTables_wrapper .dataTables_filter input {
  background-color: #fff !important;
}

.dataTables_wrapper .dataTables_length {
  margin-bottom: 1rem !important;
}

.p-30 {
  padding: 0 30px;
}

.border__right {
  border-right: 1px solid #ccc;
}

.card {
  background-color: #f7f7f7;
  transition: .2s;
  min-height: 325px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  overflow: hidden;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.10);
  border: none;
}

.card:hover {
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.20);
}

.card-body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 5px 30px;
}

.bg__card_pattern {
  background-color: #4facff;
}

.bg__card_pattern_footer {
  height: 110px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.fit-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.eixo__img {
  width: 2.5rem;
  margin-right: .4rem;
}

.title-teste {
  font-size: 16px;
  color: #1ab394;
}

h4, h3 {
  color: #000;
}

.text-light {
  color: #f8f9fa !important;
}

.text-center {
  text-align: center !important;
}

.d-flex {
  display: flex !important;
}

.justify-content-between {
  justify-content: space-between !important;
}

.align-items-center {
  align-items: center !important;
}

.mt-4 {
  margin-top: 1.5rem !important;
}

.mb-0 {
  margin-bottom: 0 !important;
}

.p-3 {
  padding: 1rem !important;
}

.p-4 {
  padding: 1.5rem !important;
}

.w-100 {
  width: 100% !important;
}

.th__title {
  color: #fff !important;
  background-color: #255957 !important;
}

.mx-auto {
  margin-left: auto !important;
  margin-right: auto !important;
}

#reservasTable {
  border: 1px solid #959595 !important;
  width: 100% !important;
}

table.dataTable thead th {
  border-bottom: 1px solid #959595 !important;
}

.button-all {
  appearance: none;
  backface-visibility: hidden;
  background-color: #1ab394;
  border-radius: 8px;
  border-style: none;
  box-shadow: rgba(39, 174, 96, .15) 0 4px 9px;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: Inter,-apple-system,system-ui,"Segoe UI",Helvetica,Arial,sans-serif;
  font-size: 14px;
  font-weight: 600;
  letter-spacing: normal;
  line-height: 1.5;
  outline: none;
  overflow: hidden;
  padding: 7px 18px;
  position: relative;
  text-align: center;
  text-decoration: none;
  transform: translate3d(0, 0, 0);
  transition: all .3s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: top;
  white-space: nowrap;
}

.button-bg-blue {
  background-color: #45aeff;
}

.button-bg-blue:hover {
  background-color: #2e7fbd;
  opacity: 1;
  transform: translateY(0);
  transition-duration: .35s;
}

.button-bg-yellow {
  background-color: #F7C548;
}

.button-bg-yellow:hover {
  background-color: #e0b139;
}

.button-bg-red {
  background-color: #b22720;
}

.button-bg-red:hover {
  background-color: #8a1b15;
}

.button-68 {
  appearance: none;
  backface-visibility: hidden;
  background-color: #1ab394;
  border-radius: 8px;
  border-style: none;
  box-shadow: rgba(39, 174, 96, .15) 0 4px 9px;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: Inter,-apple-system,system-ui,"Segoe UI",Helvetica,Arial,sans-serif;
  font-size: 16px;
  font-weight: 600;
  letter-spacing: normal;
  line-height: 1.5;
  outline: none;
  overflow: hidden;
  padding: 8px 20px;
  position: relative;
  text-align: center;
  text-decoration: none;
  transform: translate3d(0, 0, 0);
  transition: all .3s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: top;
  white-space: nowrap;
}

.button-68:hover {
  background-color: #0f8d74;
  opacity: 1;
  transform: translateY(0);
  transition-duration: .35s;
}

.button-68:active {
  transform: translateY(2px);
  transition-duration: .35s;
}

.button-68:hover {
  box-shadow: rgba(39, 174, 96, .2) 0 6px 12px;
}

#reservasTable_paginate {
  padding-bottom: 1.5rem;
}

/* BOTÕES DE PAGINAÇÃO */
.dataTables_wrapper .dataTables_info {
  line-height: 39px;
  padding-bottom: 2rem;
}

.dataTables_wrapper .dataTables_paginate .paginate_button.current {
  background: #d2d2d2 !important;
}

.dataTables_wrapper .dataTables_paginate .paginate_button.current:hover {
  background-color: #d2d2d2 !important;
}

.dataTables_wrapper .dataTables_paginate {
  padding-top: 1rem !important;
}

.dataTables_wrapper .dataTables_paginate .paginate_button {
  background-color: #ececec !important;
  border-radius:5px !important;
  padding: 0.1em .6em !important;
}

.dataTables_wrapper .dataTables_paginate .paginate_button:hover {
  color: #000 !important;
  background: #d2d2d2 !important;
  border: 1px solid transparent !important;
}
/* BOTÕES DE PAGINAÇÃO END */

/* BOTÃO DE PAGINAÇÃO */
.dataTables_wrapper .dataTables_length select {
  background-color: #fff !important;
  border-radius: 8px !important;
}

.dataTables_scrollBody {
  border-bottom: none !important;
} */



body, .container-fluid, .row, .col, .box, .card, .card-body, h2, .alert, .form-control {
  font-family: sans-serif; /* Substitua 'YourCustomFont' pelo nome da sua fonte personalizada */
}

.table-bg {
  color: #fff !important;
  background-color: #356b96 !important;
}

.border-top-none {
  border-top: 1px solid #fff !important;
}

.border-none {
  border-top: 1px solid #fff !important;
  border-right: 1px solid #fff !important;
  border-left: 1px solid #fff !important;
  border-bottom: 1px solid #fff !important;
}

.border-table {
  border: 2px solid #c0c4c9;
}

.box {
  background: #fff;
  padding: 1.5em;
  border-radius: .75rem;
  line-height: 1.6;
  overflow: hidden;
  margin-bottom: 2rem;
  position: relative;
  font-size: .875rem;
  box-shadow: 0 10px 15px -3px rgba(0,0,0,.1),0 4px 6px -2px rgba(0,0,0,.05);
}

.box__no-border {
  background: #fff;
  padding: 1.5em;
  line-height: 1.6;
  overflow: hidden;
  position: relative;
  font-size: .875rem;
  margin-bottom: 0;
  box-shadow: 0 10px 15px -3px rgba(0,0,0,.1),0 4px 6px -2px rgba(0,0,0,.05);
}



body, .container-fluid, .row, .col, .box, .card, .card-body, h2, .alert, .form-control {
  font-family: sans-serif; /* Substitua 'YourCustomFont' pelo nome da sua fonte personalizada */
}

.no-margin-bottom {
  margin-bottom: 0;
}

.title-bg {
  background-color: #0a5346;
}

.border-grey {
  border: 1px solid #ccc;
}

.p-30__no-bottom {
  padding: 30px 30px 0 30px;
}

.p-30__no-top {
  padding: 0px 30px 30px 30px;
}

.p__custom-30 {
  padding: 0 30px;
}

.input-disabled {
  background-color: #e9ecef;
}

label {
  color: #374151;
  margin-bottom: 4px;
}

input {
  color: #20242f !important;

  display: block !important;
  width: 100% !important;
  padding: .375rem .75rem !important;
  font-size: 1rem !important;
  font-weight: 400 !important;
  line-height: 1.5 !important;
  background-color: #f9fafb !important;
  border: 1px solid #c0c4c9 !important;
  border-bottom: 2px solid #c0c4c9 !important;
  border-radius: 4px !important;
  transition: .1s !important;
}

input:focus {
  background-color: #f9fafb;
  border-color: #ccc;
  outline: none;
  box-shadow: 0 0 3px rgba(139, 140, 146, 0.8);
}

.form-select {
  color: #20242f !important;

  display: block !important;
  width: 100% !important;
  padding: .375rem .75rem !important;
  
  font-weight: 400 !important;
  line-height: 1.5 !important;
  background-color: #f9fafb !important;
  border: 1px solid #c0c4c9 !important;
  border-bottom: 2px solid #c0c4c9 !important;
  border-radius: 4px !important;
}

.form_create {
  border-radius: 5px;
  width: 100%;
  max-width: 1000px;
}

.form_create__no-border {
  width: 100%;
  max-width: 1000px;
}

.form-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding: 0 10px;
  }

/* BOTÕES */

.button-green {
  background-color: #10b981;
  color: #fff;
  border: none;
  border-radius: 4px;
  padding: 7px 14px;
  cursor: pointer;
  font-size: 14px;
  margin-right: 10px;
  transition: background-color 0.3s;
}

.button-green:hover {
  background-color: #0ea271;
}

.button-grey {
  background-color: #6b7280;
  color: #fff;
  border: none;
  border-radius: 4px;
  padding: 7px 14px;
  cursor: pointer;
  font-size: 14px;
  transition: background-color 0.3s;
}

.button-grey:hover {
  background-color: #4b5563;
}

.button-blue {
  background-color: #2563eb;
  color: #fff;
  border: none;
  border-radius: 4px;
  padding: 7px 14px;
  cursor: pointer;
  font-size: 14px;
  transition: background-color 0.3s;
}

.button-blue:hover {
  background-color: #1d4ed8;
}

.button-yellow, .button-red {
  color: #fff;
  border: none;
  border-radius: 4px;
  padding: 8px 15px;
  cursor: pointer;
  font-size: 14px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.3s;
}

.button-yellow {
  background-color: #f59e0b;
}

.button-red {
  background-color: #e5534b;
}

.button-yellow i, .button-red i {
  font-size: 16px;
}


.box {
  background: #fff;
  padding: 1.5em;
  border-radius: .75rem;
  line-height: 1.6;
  overflow: hidden;
  margin-bottom: 2rem;
  position: relative;
  font-size: .875rem;
  box-shadow: 0 10px 15px -3px rgba(0,0,0,.1),0 4px 6px -2px rgba(0,0,0,.05);
}

.box__no-border {
  background: #fff;
  padding: 1.5em;
  line-height: 1.6;
  overflow: hidden;
  position: relative;
  font-size: .875rem;
  margin-bottom: 0;
  box-shadow: 0 10px 15px -3px rgba(0,0,0,.1),0 4px 6px -2px rgba(0,0,0,.05);
}