.input-custom {
  display: block;
  border-radius: 2px;
  background: #fff;
  border: 1px solid #aaa;
  color: #555;
  padding: 11px;
  font-size: 16px;
  transition: all .2s;
  width: 100%;
}

.input-custom-disabled {
  display: block;
  border-radius: 2px;
  background: #f4f4f4;
  border: 1px solid #aaa;
  color: #555;
  padding: 11px;
  font-size: 16px;
  transition: all .2s;
  width: 100%;
}

.form-select {
  display: block !important;
  border-radius: 2px !important;
  border: 1px solid #aaa !important;
  color: #555 !important;
  padding: 11px !important;
  font-size: 16px !important;
  transition: all .2s !important;
  width: 100% !important;
}

.input-custom:hover, .form-select:hover {
  border: 1px solid #7c7c7c;
  box-shadow: 0 1px 3px #aaa;
}

.input-custom:focus {
  color: #444;
  border: 1px solid #7c7c7c;
  background: #fff;
  outline: 0;
}

.form-select:focus {
  color: #444;
  border: 1px solid #7c7c7c;
  outline: 0;
}

.form-select:focus {
  color: #444;
  border: 1px solid #7c7c7c;
  outline: 0;
}

.fs-16 {
  font-size: 16px;
}

.fs-19 {
  font-size: 19px;
}

.pointer {
  cursor: pointer;
}