@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

body {
  font-family: 'Poppins', sans-serif !important;
  font-style: normal;  

  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url('/img/blessing1.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: 100vh;
  transition: .2s;
}

.logo img {
  width: 51%;
}

.row {
  margin-right: -200px;
}

.input-custom {
  display: block;
  border-radius: 2px;
  border: 1px solid #aaa;
  color: #555;
  padding: 11px;
  font-size: 16px;
  transition: all .2s;
  width: 100%;
}

.input-custom:hover {
  border: 1px solid #7c7c7c;
  box-shadow: 0 1px 3px #aaa;
}

.input-custom:focus {
  color: #444;
  border: 1px solid #7c7c7c;
  background: #fff;
  outline: 0;
}

.pointer {
  cursor: pointer;
}

@media only screen and (max-width: 1366px) {
  body {
    background-image: url('/img/bg-mini-hd1.png');
  }

  .row {
    margin-right: 0px;

  }
}

@media only screen and (max-width: 1000px) {
  body {
    background-image: url('/img/bg-blessing.png');
    transition: .2s;
  }

  .col-lg-6:first-child {
    display: none !important;
  }

  .col-lg-6:last-child {
    margin: 0 auto;
    float: none;
  }

  .row {
    margin-right: 0;
  }
}