#miniCalendar {
  padding: 12px;
  background-color: #fff;
}

.fc .fc-toolbar-title {
  font-style: normal;
  font-size: 20px !important;
  font-weight: bold;
  text-transform: uppercase;
}

.fc .fc-daygrid-day-number {
  text-decoration: none;
  font-style: normal;
}

.fc .fc-daygrid-day-frame {
  cursor: pointer;
}

.fc .fc-daygrid-day-frame:hover {
  background-color: #eeeeee;
}

.fc-event {
  opacity: 1 !important;
}

.title-meetings {
  color: #394151;
  font-size: 20px;
}

.pagina-container {
  padding: 1rem 1rem 0 1rem;
}

.s-disponivel {
  color: #1ab394;
  font-size: 14px;
}

.s-manutencao {
  color: #e74c3c;
  font-size: 14px;
}

.tabela-main-page {
  padding: 20px;
  font-size: 14px;
  background-color: #fff;
  border: 1px solid #dee2e6;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  margin-bottom: 30px;
  border-radius: 8px;
}

.sala-card-conteudo {
  display: flex;
  align-items: center;
  gap: 15px;
}

.imagem-sala {
  width: 130px;
  height: 60px;
  object-fit: cover;
  background-color: #dee2e6;
}

.sala-info {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  margin-left: 40px;
}

.titulo-sala {
  font-size: 19px;
  color: #394151;
}

.caixa-calendario {
  background-color: #fff;
  border: 1px solid #dee2e6 !important;
  padding: 20px 20px 20px 20px;
  margin-bottom: 16px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  padding-top: 0;
  border-radius: 8px;
}

.main-calendar {
  min-height: 500px;
  max-height: 80vh;
  overflow-y: auto;
  width: 100%;
  box-sizing: border-box;
}

@media (min-width: 1400px) {
  .main-calendar {
    max-height: 75vh;
  }
}

@media (max-width: 768px) {
  .main-calendar {
    min-height: 400px;
    max-height: 70vh;
  }
}

.titulo-calendario {
  font-size: 20px;
  margin-bottom: 20px;
  color: #333;
}

.area-calendario {
  align-items: center;
  justify-content: center;
  color: #777;
  font-style: italic;
}

.caixa-tabela {
  background-color: #fff;
  border: 1px solid #ccc;
  padding: 20px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  overflow-x: auto;
}

.titulo-tabela {
  font-size: 20px;
  margin-bottom: 20px;
  color: #333;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th, td {
  text-align: left;
  padding: 12px;
  border-bottom: 1px solid #ccc;
}

th {
  background-color: #2d5857;
}

.salas-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  margin-bottom: 20px;
  justify-content: flex-start;
}

.sala-card {
  background-color: #fff;
  border: 1px solid #dee2e6;
  padding: 13px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  box-sizing: border-box;
  width: 100%;
}

.width-100 {
  width: 100%;
}

.calendar-container {
  border-radius: 8px !important;
  overflow: hidden;
}