.nav-buttons,
a.nav-buttons {
  color: #303030;
  border: none;
  font-size: 14px;
  border-radius: 4px;
  padding: 4px 15px;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.3s;
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.1);
  background-color: #f1f1f1;
}

.nav-buttons:hover,
a.nav-buttons:hover {
  transition: .3s;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.5);
}

.li-person:hover {
  background-color: #fff !important;
}

.dropdown-custom {
  position: relative;
  display: inline-block;
}

.dropdown-menu-custom {
  display: none;
  position: absolute;
  background-color: #fff;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  padding: 5px;
  min-width: 150px;
  z-index: 1000;
}

.dropdown-menu-custom button {
  display: block;
  width: 100%;
  background: none;
  border: none;
  padding: 8px 12px;
  text-align: left;
  cursor: pointer;
  font-size: 15px;
}

.dropdown-menu-custom button:hover {
  background-color: #f8f9fa;
}

.dropdown-custom.open .dropdown-menu-custom {
  display: block;
}

.btn-dropdown {
  background: none;
  border: 1px solid #6c757d;
  cursor: pointer;
  /* font-size: 1.2rem; */
  padding: 5px 10px;
  border-radius: 4px;
  background-color: #6c757d; /* Cor do botão do Bootstrap */
  color: white;
}

.btn-dropdown:hover {
  background-color: #5b6c7a;
}

/* Responsividade: Ajusta posição quando tela for menor que 768px */
@media (max-width: 768px) {
  .dropdown-menu-custom {
    left: -80px; /* Ajusta o menu para a esquerda */
    right: auto;
  }
}

/* @media only screen and (max-width: 1000px) {
  .d-mt2 {
    margin-top: 1rem;
  }

  .navbar-nav {
    flex-direction: row;
  }
} */