.pagina-container {
      
  max-width: 1366px;
  margin: 2rem auto 1rem auto;
  padding: 1rem;
}

/* Cards de salas */
.salas-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  margin-bottom: 20px;
}

.sala-card {
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 20px;
  flex: 1 1 calc(25% - 20px);
  min-width: 200px;
  text-align: center;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.sala-card-conteudo {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 15px;
}

.imagem-sala {
  width: 80px;
  height: 80px;
  object-fit: cover;
  border-radius: 8px;
  background-color: #dee2e6; /* Caso a imagem não carregue, aparece um fundo */
}

.sala-info {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}


.titulo-sala {
  font-size: 18px;
  margin-bottom: 15px;
  color: #333;
}

.botao-reservar {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

.botao-reservar:hover {
  background-color: #0056b3;
}

/* Calendário */
.caixa-calendario {
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 20px;
  margin-bottom: 20px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.titulo-calendario {
  font-size: 20px;
  margin-bottom: 20px;
  color: #333;
}

.area-calendario {
  background-color: #e9ecef;
  height: 300px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #777;
  font-style: italic;
}

/* Tabela de Reservas */
.caixa-tabela {
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  overflow-x: auto;
}

.titulo-tabela {
  font-size: 20px;
  margin-bottom: 20px;
  color: #333;
}

table {
  width: 100%;
  border-collapse: collapse;
  min-width: 600px;
}

th, td {
  text-align: left;
  padding: 12px;
  border-bottom: 1px solid #ddd;
}

th {
  background-color: #f1f1f1;
}

/* Responsividade */
@media (max-width: 768px) {
  .sala-card {
    flex: 1 1 calc(50% - 20px);
  }
}

@media (max-width: 500px) {
  .sala-card {
    flex: 1 1 100%;
  }
}