body, .container-fluid, .row, .col, .box, .card, .card-body, h2, .alert, .form-control {
  font-family: sans-serif; /* Substitua 'YourCustomFont' pelo nome da sua fonte personalizada */
}

.table-bg {
  color: #fff !important;
  background-color: #356b96 !important;
}

.border-top-none {
  border-top: 1px solid #fff !important;
}

.border-none {
  border-top: 1px solid #fff !important;
  border-right: 1px solid #fff !important;
  border-left: 1px solid #fff !important;
  border-bottom: 1px solid #fff !important;
}

.border-table {
  border: 2px solid #c0c4c9;
}

.box {
  background: #fff;
  padding: 1.5em;
  border-radius: .75rem;
  line-height: 1.6;
  overflow: hidden;
  margin-bottom: 2rem;
  position: relative;
  font-size: .875rem;
  box-shadow: 0 10px 15px -3px rgba(0,0,0,.1),0 4px 6px -2px rgba(0,0,0,.05);
}

.box__no-border {
  background: #fff;
  padding: 1.5em;
  line-height: 1.6;
  overflow: hidden;
  position: relative;
  font-size: .875rem;
  margin-bottom: 0;
  box-shadow: 0 10px 15px -3px rgba(0,0,0,.1),0 4px 6px -2px rgba(0,0,0,.05);
}



body, .container-fluid, .row, .col, .box, .card, .card-body, h2, .alert, .form-control {
  font-family: sans-serif; /* Substitua 'YourCustomFont' pelo nome da sua fonte personalizada */
}

.no-margin-bottom {
  margin-bottom: 0;
}

.title-bg {
  background-color: #0a5346;
}

.border-grey {
  border: 1px solid #ccc;
}

.p-30__no-bottom {
  padding: 30px 30px 0 30px;
}

.p-30__no-top {
  padding: 0px 30px 30px 30px;
}

.p__custom-30 {
  padding: 0 30px;
}

.input-disabled {
  background-color: #e9ecef;
}

label {
  color: #374151;
  margin-bottom: 4px;
}

.form_create {
  border-radius: 5px;
  width: 100%;
  max-width: 1000px;
}

.form_create__no-border {
  width: 100%;
  max-width: 1000px;
}

.form-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding: 0 10px;
  }

/* BOTÕES */

.button-green {
  background-color: #10b981;
  color: #fff;
  border: none;
  border-radius: 4px;
  padding: 7px 14px;
  cursor: pointer;
  font-size: 14px;
  margin-right: 10px;
  transition: background-color 0.3s;
}

.button-green:hover {
  background-color: #0ea271;
}

.button-grey {
  background-color: #6b7280;
  color: #fff;
  border: none;
  border-radius: 4px;
  padding: 7px 14px;
  cursor: pointer;
  font-size: 14px;
  transition: background-color 0.3s;
}

.button-grey:hover {
  background-color: #4b5563;
}

.button-blue {
  background-color: #2563eb;
  color: #fff;
  border: none;
  border-radius: 4px;
  padding: 7px 14px;
  cursor: pointer;
  font-size: 14px;
  transition: background-color 0.3s;
}

.button-blue:hover {
  background-color: #1d4ed8;
}

.button-yellow, .button-red {
  color: #fff;
  border: none;
  border-radius: 4px;
  padding: 8px 15px;
  cursor: pointer;
  font-size: 14px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.3s;
}

.button-yellow {
  background-color: #f59e0b;
}

.button-red {
  background-color: #e5534b;
}

.button-yellow i, .button-red i {
  font-size: 16px;
}


.box {
  background: #fff;
  padding: 1.5em;
  border-radius: .75rem;
  line-height: 1.6;
  overflow: hidden;
  margin-bottom: 2rem;
  position: relative;
  font-size: .875rem;
  box-shadow: 0 10px 15px -3px rgba(0,0,0,.1),0 4px 6px -2px rgba(0,0,0,.05);
}

.box__no-border {
  background: #fff;
  padding: 1.5em;
  line-height: 1.6;
  overflow: hidden;
  position: relative;
  font-size: .875rem;
  margin-bottom: 0;
  box-shadow: 0 10px 15px -3px rgba(0,0,0,.1),0 4px 6px -2px rgba(0,0,0,.05);
}