.p-30 {
    padding: 0 30px;
}

section {
    width: 80%; /* Ocupar 80% da tela */
    margin: auto; /* Centralizar horizontalmente */
    min-height: 80vh; /* Garantir altura mínima */
    display: flex;
    flex-direction: column;
    justify-content: center; /* Centralizar verticalmente */
    padding: 2rem 0;
  }

  .custom-list {
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* 4 colunas iguais */
    gap: 20px; /* Espaçamento entre as salas */
    list-style: none;
    padding: 0;
  }

  .custom-list li {
    background: #f8f9fa; /* Fundo claro */
    margin: 0.5rem 0;
    padding: 1rem;
    border-radius: 8px;
    display: flex;
    align-items: center;
    border: 1px solid #b7b7b7;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s, box-shadow 0.2s;
  }

  .custom-list li:hover {
    transform: translateY(-2px);
    box-shadow: 1px 1px 15px rgba(0, 0, 0, 0.2);
  }

  .custom-list li img {
    width: 100%; /* Tamanho da imagem */
    height:auto;
    object-fit: cover;
    border-radius: 5px; /* Imagem circular */
    margin-bottom: 10px;
    margin-right: 1rem;
  }

  .custom-list li .info {
    margin-bottom: 10px;
  }

  .custom-list .info h5 {
    margin: 0;
    font-size: 1.2rem;
    font-weight: bold;
  }

  .custom-list .info p {
    margin: 0;
    color: #6c757d;
  }

  .custom-list button {
    background: #007bff;
    color: white;
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.2s;
  }

  .custom-list button:hover {
    background: #0056b3;
  }

  /* ***************************** */
  .table th, 
.table td {
  border-right: 1px solid #ddd; /* Linha vertical */
}

.table th:last-child, 
.table td:last-child {
  border-right: none; /* Remove a linha vertical da última coluna */
}

.table-title {
    font-size: 2rem; /* Ajuste o tamanho conforme necessário */
    font-weight: bold; /* Opcional: deixa o texto mais destacado */
  }