.custom-actions-btn {
  background-color: #7c9522;
  color: white;
  border: none;
  padding: 5px 10px;
  font-size: 12px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.custom-actions-btn:hover {
  background-color: #5f7219;
}

table {
	border: 1px solid #ccc;
	border-collapse: collapse;
	margin: 0;
	padding: 0;
	width: 100%;
}

colgroup {
  display: none;
}

table caption {
	font-size: 1.5em;
	margin: .5em 0 .75em;
}

table tr {
	background-color: #fff;
	border: 1px solid #e1e5e9;
	padding: .35em;
	border: 1px solid #ccc;
}

table th,
table td {
	padding: 1.625em;
	color: #000;
	font-size: 14px;
}

table th {
	font-size: .85em;
	text-transform: uppercase;
	background: #f8f9fa;
	color: #374151;
}

table tbody tr td .btn-invoice {
	background: #3fb293;
	color: #FFF;
	font-size: 13px;
	padding: 10px 20px;
	border: 0;
}

table.dataTable.no-footer {
	border-bottom: 1px solid #cccccc !important;
}

tbody tr:nth-child(even) {
	background-color: #fff !important;
}

tbody tr:nth-child(odd) {
	background-color: #f8f9fa !important;
}

.dataTables_wrapper .dataTables_info {
	padding-bottom: 0;
}

tr th {
	background-color: #f1f3f5;
}

.bg-color-dgreen {
	background-color: #2f5857 !important;
}

@media(min-width: 769px) {
	table th,
	table td {
		text-align: center;
	}
}

@media(max-width: 768px) {
	thead {
		display: none;
	}

	td {
		display: grid;
		gap: .5rem;
		grid-template-columns: 30ch auto;
		text-align: left !important;
	}

	td::before {
		content: attr(data-th) ": ";
		font-weight: bold;
		color: #374151;
		text-transform: uppercase;
	}

	.custom-actions-menu {
		right: unset;
	}
}

table.dataTable thead > tr > th.dt-orderable-asc,
table.dataTable thead > tr > th.dt-orderable-desc,
table.dataTable thead > tr > td.dt-orderable-asc,
table.dataTable thead > tr > td.dt-orderable-desc {
	text-align: center;
}