.fs-13 {
  font-size: 13px;
}

.th-color {
  background-color: #314b27 !important;
  color: #fff !important;
}

#reservas {
  border-collapse: separate;
  border-spacing: 0;
}

/* TH */
#reservas thead th {
  border-right: 1px solid #ccc;
}
#reservas thead th:last-child {
  border-right: none;
}

/* TD */
#reservas tbody td {
  border-right: 1px solid #ccc;
}

#reservas tbody td:last-child {
  border-right: none;
}