@tailwind base;
@tailwind components;
@tailwind utilities;

/* #sidebar {
    width: 250px;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    background-color: #f8f9fa;
    padding-top: 20px;
}

#sidebar_content {
    padding: 20px;
}

.side-item a {
    display: flex;
    align-items: center;
    padding: 10px;
    text-decoration: none;
    color: #000;
}

.side-item a:hover {
    background-color: #ddd;
}

.item-descripition {
    margin-left: 10px;
}

#logout_btn {
    background-color: #dc3545;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}

#logout_btn:hover {
    background-color: #c82333;
} */

/* para o meu siderbar lateral */
/* *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: ;
}

body{
    display: flex;
    min-height: 100vh;
    background-color: #e3e3e3;
}

#sidebar{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #fff;
    height: 100vh;
    border-radius: 0px 18px 18px 0px;
}

#user {
    display: flex;
    align-items: center;
    gap: 8px;
    margin-bottom: 24px;
}

#user_avatar{
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 20px;
    
} */
